:root {
  --stitch-surface-container-lowest: #ffffff;
  --stitch-on-primary: #e2f6ff;
  --stitch-on-error-container: #570008;
  --stitch-error: #b31b25;
  --stitch-secondary-container: #bed2ff;
  --stitch-tertiary-fixed-dim: #b190ff;
  --stitch-tertiary: #7000ff;
  --stitch-surface-variant: #d9dde0;
  --stitch-on-surface-variant: #595c5e;
  --stitch-error-dim: #9f0519;
  --stitch-secondary-fixed-dim: #a8c4ff;
  --stitch-on-tertiary-container: #3c0091;
  --stitch-on-secondary: #f0f2ff;
  --stitch-on-tertiary: #f8f1ff;
  --stitch-surface-tint: #00647b;
  --stitch-secondary-fixed: #bed2ff;
  --stitch-primary-dim: #00576c;
  --stitch-on-primary-fixed: #002a35;
  --stitch-on-surface: #2c2f31;
  --stitch-primary-fixed-dim: #00c0ea;
  --stitch-primary: #00647b;
  --stitch-surface-container-highest: #d9dde0;
  --stitch-tertiary-dim: #6200e1;
  --stitch-outline: #747779;
  --stitch-background: #f5f7f9;
  --stitch-surface-container: #e5e9eb;
  --stitch-on-secondary-fixed-variant: #004ea5;
  --stitch-on-tertiary-fixed: #1f0052;
  --stitch-surface-container-low: #eef1f3;
  --stitch-primary-container: #00cffc;
  --stitch-error-container: #fb5151;
  --stitch-on-tertiary-fixed-variant: #4700a7;
  --stitch-outline-variant: #abadaf;
  --stitch-secondary-dim: #004da4;
  --stitch-tertiary-container: #bda1ff;
  --stitch-inverse-surface: #0b0f10;
  --stitch-on-error: #ffefee;
  --stitch-on-primary-fixed-variant: #004a5c;
  --stitch-inverse-primary: #00cffc;
  --stitch-tertiary-fixed: #bda1ff;
  --stitch-on-secondary-fixed: #00326f;
  --stitch-inverse-on-surface: #9a9d9f;
  --stitch-surface-container-high: #dfe3e6;
  --stitch-primary-fixed: #00cffc;
  --stitch-surface-bright: #f5f7f9;
  --stitch-secondary: #0058ba;
  --stitch-surface: #f5f7f9;
  --stitch-surface-dim: #d0d5d8;
  --stitch-on-background: #2c2f31;
  --stitch-on-primary-container: #004050;
  --stitch-on-secondary-container: #004594;
}

.dark {
  --stitch-secondary-fixed-dim: #6cd3fc;
  --stitch-surface-container-high: #222a3d;
  --stitch-surface-container-lowest: #060e20;
  --stitch-on-tertiary: #00363b;
  --stitch-secondary-container: #269cc3;
  --stitch-tertiary-fixed: #8bf2ff;
  --stitch-surface-bright: #31394d;
  --stitch-on-primary-container: #00566a;
  --stitch-surface-container-low: #131b2e;
  --stitch-on-secondary-container: #002e3c;
  --stitch-on-error: #690005;
  --stitch-background: #0b1326;
  --stitch-on-secondary: #003545;
  --stitch-primary: #a4e6ff;
  --stitch-tertiary: #63efff;
  --stitch-on-primary: #003543;
  --stitch-surface-container: #171f33;
  --stitch-inverse-primary: #00677f;
  --stitch-primary-fixed: #b7eaff;
  --stitch-primary-container: #00d1ff;
  --stitch-surface-tint: #4cd6ff;
  --stitch-outline-variant: #3c494e;
  --stitch-on-secondary-fixed-variant: #004d63;
  --stitch-error-container: #93000a;
  --stitch-on-primary-fixed-variant: #004e60;
  --stitch-on-surface-variant: #bbc9cf;
  --stitch-surface-variant: #2d3449;
  --stitch-on-secondary-fixed: #001f2a;
  --stitch-on-tertiary-fixed: #001f23;
  --stitch-on-surface: #dae2fd;
  --stitch-on-tertiary-container: #00575f;
  --stitch-tertiary-container: #3ad3e3;
  --stitch-outline: #859399;
  --stitch-primary-fixed-dim: #4cd6ff;
  --stitch-inverse-on-surface: #283044;
  --stitch-surface-dim: #0b1326;
  --stitch-secondary: #6cd3fc;
  --stitch-on-error-container: #ffdad6;
  --stitch-surface: #0b1326;
  --stitch-on-primary-fixed: #001f28;
  --stitch-error: #ffb4ab;
  --stitch-secondary-fixed: #bce9ff;
  --stitch-on-tertiary-fixed-variant: #004f56;
  --stitch-on-background: #dae2fd;
  --stitch-inverse-surface: #dae2fd;
  --stitch-surface-container-highest: #2d3449;
  --stitch-tertiary-fixed-dim: #43d9e9;
}

@theme inline {
  --color-stitch-surface-container-lowest: var(--stitch-surface-container-lowest);
  --color-stitch-on-primary: var(--stitch-on-primary);
  --color-stitch-on-error-container: var(--stitch-on-error-container);
  --color-stitch-error: var(--stitch-error);
  --color-stitch-secondary-container: var(--stitch-secondary-container);
  --color-stitch-tertiary-fixed-dim: var(--stitch-tertiary-fixed-dim);
  --color-stitch-tertiary: var(--stitch-tertiary);
  --color-stitch-surface-variant: var(--stitch-surface-variant);
  --color-stitch-on-surface-variant: var(--stitch-on-surface-variant);
  --color-stitch-error-dim: var(--stitch-error-dim);
  --color-stitch-secondary-fixed-dim: var(--stitch-secondary-fixed-dim);
  --color-stitch-on-tertiary-container: var(--stitch-on-tertiary-container);
  --color-stitch-on-secondary: var(--stitch-on-secondary);
  --color-stitch-on-tertiary: var(--stitch-on-tertiary);
  --color-stitch-surface-tint: var(--stitch-surface-tint);
  --color-stitch-secondary-fixed: var(--stitch-secondary-fixed);
  --color-stitch-primary-dim: var(--stitch-primary-dim);
  --color-stitch-on-primary-fixed: var(--stitch-on-primary-fixed);
  --color-stitch-on-surface: var(--stitch-on-surface);
  --color-stitch-primary-fixed-dim: var(--stitch-primary-fixed-dim);
  --color-stitch-primary: var(--stitch-primary);
  --color-stitch-surface-container-highest: var(--stitch-surface-container-highest);
  --color-stitch-tertiary-dim: var(--stitch-tertiary-dim);
  --color-stitch-outline: var(--stitch-outline);
  --color-stitch-background: var(--stitch-background);
  --color-stitch-surface-container: var(--stitch-surface-container);
  --color-stitch-on-secondary-fixed-variant: var(--stitch-on-secondary-fixed-variant);
  --color-stitch-on-tertiary-fixed: var(--stitch-on-tertiary-fixed);
  --color-stitch-surface-container-low: var(--stitch-surface-container-low);
  --color-stitch-primary-container: var(--stitch-primary-container);
  --color-stitch-error-container: var(--stitch-error-container);
  --color-stitch-on-tertiary-fixed-variant: var(--stitch-on-tertiary-fixed-variant);
  --color-stitch-outline-variant: var(--stitch-outline-variant);
  --color-stitch-secondary-dim: var(--stitch-secondary-dim);
  --color-stitch-tertiary-container: var(--stitch-tertiary-container);
  --color-stitch-inverse-surface: var(--stitch-inverse-surface);
  --color-stitch-on-error: var(--stitch-on-error);
  --color-stitch-on-primary-fixed-variant: var(--stitch-on-primary-fixed-variant);
  --color-stitch-inverse-primary: var(--stitch-inverse-primary);
  --color-stitch-tertiary-fixed: var(--stitch-tertiary-fixed);
  --color-stitch-on-secondary-fixed: var(--stitch-on-secondary-fixed);
  --color-stitch-inverse-on-surface: var(--stitch-inverse-on-surface);
  --color-stitch-surface-container-high: var(--stitch-surface-container-high);
  --color-stitch-primary-fixed: var(--stitch-primary-fixed);
  --color-stitch-surface-bright: var(--stitch-surface-bright);
  --color-stitch-secondary: var(--stitch-secondary);
  --color-stitch-surface: var(--stitch-surface);
  --color-stitch-surface-dim: var(--stitch-surface-dim);
  --color-stitch-on-background: var(--stitch-on-background);
  --color-stitch-on-primary-container: var(--stitch-on-primary-container);
  --color-stitch-on-secondary-container: var(--stitch-on-secondary-container);
}
